@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {}

.navbar {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
    position: relative;
    left: 20px;
}

.navbar-nav {
    position: absolute;
    right: 20px;
}

.nav-link {
    color: #fff;
    font-size: 20px;
}

.active {
    text-decoration: underline;
    color: #fff !important;
}

.hero-section {
    width: 100%;
    height: 100vh;
}

.hero-image {
    background: url('/assets/images/hero.jpg') no-repeat center center;
    height: 900px;
    width: 100%;
    opacity: 0.7;
    z-index: 0;
    position: absolute;
}

.cover-text {
    width: 80vw;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

footer {
    min-height: 100px;
    border: 3px solid pink;
    width: 100%;
}

/* home classes */
.home-title {
    text-align: center;
    position: relative;
    top: 3vh;
}

.classes-section {
    margin-top: 30px;
}

.home-classes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home-classes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    padding: 20px 0;
    height: 350px;
}

.home-classes p {
    margin-bottom: 0px;
}

.classes-link {
    text-decoration: none;
    color: lightcoral;
    font-size: 20px;
    font-weight: 700;
}

/* Yoga trainer sections */
.trainer-section {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #edf8ff;
    padding: 40px 0;
}

.text-muted {
    text-align: center;
    font-size: 20px;
}

.trainer-title {
    top: 0px;
    padding-bottom: 15px;
   
}

.trainer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.trainer {
    width: 20vw;
    text-align: center;
}


.trainer-contact {}

.trainer-image-1 {
    background: url('/assets/images/trainer-images/susan_miranda_300.jpg') no-repeat center center;
}

.trainer-image-2 {
    background: url('/assets/images/trainer-images/jane_johnson_300.jpg') no-repeat center center;
}

.trainer-image-3 {
    background: url('/assets/images/trainer-images/anna_alfred_300.jpg') no-repeat center center;
}

.trainer-image-4 {
    background: url('/assets/images/trainer-images/maria_ericson_300.jpg') no-repeat center center;
}

.trainer-image {
    width: 21vw;
    height: 300px;
    border-radius: 4px;
}

/* about section */
.about-section {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-image {
    background: url(/assets/images/about/about.jpg) no-repeat center;
    height: 400px;
    width: 50%;
    border-radius: 4px;
}

.about-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text-container {
    width: 80%;
}

.company-name {}



/* newsletter */
.newsletter-section {}

.background-image {
    background: url('/assets/images/newsletter_background.jpg') no-repeat center center;

}

.newsletter-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}


.newsletter-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.newsletter-input {
    height: 44px;
    border: none;
    padding: 10px;
    width: 400px;
    border-radius: 4px;
}

.orange-button {
    padding: 10px 15px;
    background-color: lightcoral;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
}
/* footer */
.logo{
    font-size: 30px;
    text-decoration: none;
    color: #6c757d;
}
.footer-text{
    text-align: left;
    font-size: 14px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-bottom-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
    margin-top: 5px;
}
.copyright{
    color: #6c757d;
    font-size: 20px;
}

.horizontal-line{
    width: 95%;
    background-color: #6c757d;
    height: 0.08px;
    margin: 0 auto;
}

.social-media{

}

.social-media-container{}
.footer-links{
    list-style: none;
}
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
   
    font-size: 40px;
}
.footer-links li a{
    color: #6c757d;
    margin: 0px 20px;
}
.fa-brand{}

.footer-content{}
.page-links{
    list-style: none;
    color: #6c757d;
}
.page-item{}
.page-link{}



@media screen and (max-width: 1448px) {
    .hero-image {
        background: url('/assets/images/hero_max_width_1440.jpg') no-repeat center center;

        width: 100%;
        opacity: 0.7;
        z-index: 0;
        position: absolute;
    }
}

@media screen and (max-width: 1024px) {
    .hero-image {
        background: url('/assets/images/hero_1024.jpg') no-repeat center center;
    }

    p {
        font-size: 13px;
    }

    .home-title {
        font-size: 30px;
    }

    /* classes */

    .home-classes-container {
        height: 300px;
    }

    .home-classes {
        height: 300px;
    }

    .trainer-section {
        justify-content: unset;
        padding: 10px 0;
    }

    .trainer-image-1 {
        background: url('/assets/images/trainer-images/susan_miranda_200.jpg') no-repeat center center;

    }

    .trainer-image-2 {
        background: url('/assets/images/trainer-images/jane_johnson_200.jpg') no-repeat center center;

    }

    .trainer-image-3 {
        background: url('/assets/images/trainer-images/anna_alfred_200.jpg') no-repeat center center;

    }

    .trainer-image-4 {
        background: url('/assets/images/trainer-images/maria_ericson_200.jpg') no-repeat center center;

    }

    .trainer-image {
        width: 180px;
        height: 180px;
        border-radius: 4px;
    }

    .trainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .trainer-name {
        font-size: 18px;
    }

    /* about */
    .about-image {
        background: url(/assets/images/about/about_1024.jpg) no-repeat center;

    }
    /* footer */
    
    .copyright{
        font-size: 15px;
    }
    .footer-links{
        font-size: 30px;
    }

}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 17px;
    }

    p {
        font-size: 11px;
    }

    .text-muted {
        font-size: 10px;
    }

    .hero-image {
        background: url('/assets/images/hero_768.jpg') no-repeat center center;
    }

    /* classes */
    .home-title {
        font-size: 20px;
    }

    .home-classes {}

    .yoga-image {
        height: 100px;
    }

    .home-classes-container {
        height: 300px;
    }

    .classes-link {
        font-size: 15px;
    }

    /* trainer section */


    .trainer {
        width: 100px;
    }

    .trainer-image-1 {
        background: url('/assets/images/trainer-images/susan_miranda_100.jpg') no-repeat center center;
    }

    .trainer-image-2 {
        background: url('/assets/images/trainer-images/jane_johnson_100.jpg') no-repeat center center;
    }

    .trainer-image-3 {
        background: url('/assets/images/trainer-images/anna_alfred_100.jpg') no-repeat center center;
    }

    .trainer-image-4 {
        background: url('/assets/images/trainer-images/maria_ericson_100.jpg') no-repeat center center;
    }

    .trainer-image {
        height: 100px;
        width: 100px;
        border-radius: 4px;
    }

    .trainer-name {
        font-size: 12px;
        margin-bottom: 0px;
    }

    /* about */
    .about-section {
        height: unset;
    }

    .about-container {
        flex-direction: column-reverse;
        margin-top: 5vh;
    }

    .about-image {
        background: url(/assets/images/about/about_768.jpg) no-repeat center;
        width: 100%;
        margin-top: 5vh;
    }

    .about-text {
        width: 100%;
    }

    /* newsletter section */
    .newsletter-text {}

    .newsletter-input {
        width: 300px;
    }
    /* footer */
    .copyright{
        font-size: 13px;
    }
    .footer-links{
        font-size: 17px;
    }
    .footer-links li a {
       
        margin: 0px 5px;
    }
}

@media screen and (max-width: 425px) {
    .hero-image {
        background: url('/assets/images/hero_425.jpg') no-repeat center center;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    p {
        font-size: 9px;
        margin-bottom: 3px;
    }


    .cover-text {
        width: 80vw;
    }

    .home-title {
        top: 1vh;
        font-size: 20px;
    }

    .home-classes-container {
        height: 250px;
        align-items: baseline;
    }

    .home-classes {
        text-align: center;
        width: 31vw;
        height: 250px;
    }

    .yoga-image {
        height: 100px;
    }

    .home-classes h2 {

        font-size: 13px;
    }

    .home-classes p {
        font-size: 10px;
        line-height: 1.1;
    }

    .classes-link {
        font-size: 13px;
    }

    /*  trainer section  */

    .trainer-title {
        top: 0px;
        
    }

    .trainer {
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;

    }

    .trainer-image {
        height: 80px;
        width: 80px;
    }

    .trainer-contact-container {}

    .trainer-contact {
        margin: 0px;
        font-size: 12px;
    }


    /* about */
    .about-section {}

    .about-container {
        margin-top: 2vh;
    }

    .about-image {
        background: url(/assets/images/about/about_425.jpg) no-repeat center;
        height: 283px;
        margin-top: 2vh;
    }


    /* newsletter section */
    .newsletter-section {}

    .background-image {}

    .newsletter-text {
        height: 200px;
    }


    .newsletter-input {
        height: 25px;
        width: 250px;
        font-size: 12px;
    }

    .orange-button {
        padding: 5px 7px;
        font-size: 10px;
    }
        /* footer */
        .copyright{
            font-size: 10px;
        }
        .footer-links{
            font-size: 15px;
        }


}

@media screen and (max-width: 375px) {

    /* trainers */
    .trainer-title {
        font-size: 15px;
    }

    .trainer {
        width: 75px;
    }

    .trainer-image {
        height: 75px;
        width: 75px;
    }

    .trainer-name {
        font-size: 10px;
    }

    .trainer-instructor {
        display: flex;
        width: 80px;
        font-size: 8px;
    }



}